<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stu.feisuo.walldemo">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" >
    </uses-feature>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/bee" >

        <service
            android:name=".Wallpaper"
            android:enabled="true"
            android:label="Bee Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/walldemo" >
            </meta-data>
        </service>

    </application>

</manifest>
